* {
	box-sizing: border-box;
	margin: 0 auto;
    font-family: a;
}

html {
	font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

.backb {
    display: block;
    margin: 0;
}

#cost {
    float: right;
    font-size: 13px;
    color: green;
}

#container {
	display: block;
	/* margin: 0 auto; */
	text-align: center;
	background: #F5F5F1;
}

#category-bar {
    border-top: 1px solid #C9CAC9;
    width: 100%;
    height: 50px;
}

#description {
	max-width: 500px;
    vertical-align: top;
}

#description-contains {
    margin-left: 30px;
    display: inline-block;
    max-width: 500px;
    vertical-align: top;
}

#detailContainer {
    text-align: left;
    height: 100vh;
}

#front {
    text-align: center;
}

.gifScroll {

}

.info-holds {
     padding: 5px;
}

input:active {
    outline: none !important;
}

button:active {
    outline: none !important;
}

.item-view {
    background: #F5F5F1;
    border-top: 1px solid #C9CAC9;
}

button {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 29px;
	border: solid #2F98B1 1px;
	border-left: none;
	color: white;
	background: #34A8C4;
}

button:active {
	border-left: none;
}
.backgroundPic {
    width: 100%;
    height: 250px;
}

.ellipsis { text-overflow: ellipsis;}

#go {
	left: 214px;
	position: absolute;
	top: 0px;
}

#head-holder {
	border-bottom: 1px solid #CFCBC8;
	margin-top: 4px;
}

#header {
    margin-top: 10px;
	text-align: left;
	width: 990px;
}

#imgHolder {
	display: inline-block;
}



.itemBlock {
    width: 244.5px;
	background: #fff;
    margin: 10px;
    display: inline-block;
    text-align: left;
    height: 240px;
    background: white;
    border-radius: 3px;
    border: solid rgba(128, 128, 128, 0.61) 1px;
}

.list-img {
    height: 190px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#itemBlock {
	background: #fff;
	margin-top: 12px;
	width: 300px;
	display: inline-block;
	text-align: left;
    border: solid rgba(128, 128, 128, 0.58) 1px;
}

#itemBlock h1 {
	display: block;
}

#largeImage {
	width: 400px;
}

#logo {
	text-decoration: none;
	font-size: 38px;
	font-family: serif;
	color: #F56400;
	border: none;
	margin: 0 auto;
    letter-spacing: 1px;
}

.madeBy {
     font-size: 13px;
     color: rgba(0, 0, 0, 0.74);
}


.categories {
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    color: #777;
    line-height: 50px;
    margin-right: 5%;
}

a.categories:hover {
    color: #222;
}

.scrollDescription {
    font-size: 14px;
	display: block;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 3px;
}

.sloganTop {
    width: 306px;
    position: absolute;
    top: 174px;
    left: 78px;
    color: white;
}

.sloganBottom {
     color: white;
     position: absolute;
     top: 216px;
     left: 48px;
}

#search-box {
	height: 45px;
	display: inline-block;
	width: 400px;
	position: relative;
}

#search {
	width: 175px;
    outline: none;
	display: inline-block;
	margin-left: 20px;
	height: 29px;
}
