* {
	box-sizing: border-box;
	margin: 0 auto;
}

.itemBlock  {
    width: 242.5px;
    height: 240px;
	display: inline-block;
	text-align: left;
}

img {
    width: 300px;
    height: 300px;
    display: block;
	h1 {
		display: block;
	}

}

.ellipsis { text-overflow: ellipsis;  }

#logo {
	text-decoration: none;
	font-size: 38px;
	font-family: serif;
	color: #F56400;
	border: none;
}

.gifScroll {

}
